body {
  margin: 0;
  font-size: 24px;
  font-family: Arial, sans-serif;
  background: #bbb0b0;
  text-indent: 33px;
}

nav {
  background: #333;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

.common {
  padding: 20px;
}

.footer a {
    text-decoration: none;
    padding: 25px;
    color: #333;
    font-weight: bold;
}

.img {
    height: 88px;
}
